<div id="header">Programming Language Agnostic Development</div>

<ul>
    <li><%= link_to "View all snippets", snippets_path %></li>
    <li><%= link_to "Create new snippets", new_snippet_path %></li>
</ul>
